/*
 * CONTENTS
 *
 * SETTINGS
 * Global
 *
 * BASE
 * Header:                   Banner
 *  Nav:                      Home
 *    Unorderd List:            Directories
 *    Image:                    Home Logo
 *    Unordered List:           Account Settings  
 *  Nav:                      Horizontal News Strip
 *
 * Eggs: 			
 *
 */

 /*-------------------------
 	#EGGS
 --------------------------*/

/*rgba(176,45,58,0.9161)*/





/*-------------------------
	#GLOBAL
--------------------------*/

body {
  background-color: #3e2a18;
}





/*-------------------------
	#HEADER -- Banner
--------------------------*/

.banner__header {
  background-color: #fff;
  width: 96%;
  position: fixed
  padding-bottom: 20px;
  margin: 0 auto;
}






/*-------------------------
	#NAV -- Home
--------------------------*/
.home__nav {
  min-height: 47px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #aaa;
}



.directories__unordered-list {
  position: relative;
  margin-top: 10px;
  margin-left: -8px;
}

.directories__list-item {
  display: inline-block;  
}



.home-logo__image {
  height: 26px;
  width: 185px;
  margin-top: 10px;
  margin-left: -100px;
}



.account-settings__unordered-list {
  float: right;
  margin-top: 10px;
  margin-right: 40px;
}

.account-settings__list-item {
  display: inline-block;
}



.directories__button {
  background-color: #fff;
  border: none;
  border-radius: 2px;
}

.button__element {
  display: inline-block;
}

.directories__button > p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 10px;
}



.directories-sections__button {
  border: 1px solid #aaa;
}

.directories-sections__button > p {
  padding: 4px 0 4px 22px;
  
}
.directories-sections__button > img {
  width: 16px;
  top: 3;
  position: absolute;
}



.directories-home__button > p {
  padding: 0 0 4px 22px;
}

.directories-home__button > img {
  width: 18px;
  top: 4;
  position: absolute;
}



.directories-search__button > p {
  padding: 0 0 4px 20px;
}

.directories-search__button > img {
  width: 14px;
  top: 5;
  position: absolute;
}



.log-in__button {
  background-color: #6288a5;
  border: 1px solid #4d7b9f;
  border-radius: 3px;
}

.log-in__button > p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 10px;
  color: #fff;
  padding: 6px 0 6px 0;
}

.options__image {
  width: 14px;
  position: relative;
  top: 3px;
  left: 6px;
}

/*---------------------------------
	#NAV -- Horizontal News Strip
---------------------------------*/
.horizontal-news-strip__nav {
  width: 100%;
  max-height: 82px;
  overflow: hidden;
  border-bottom: 1px solid #aaa;
}

.horizontal-news-strip__list-item {
  display: block;
  float: left;
  overflow: hidden;
  width: 260px;
  padding-left: 0;
}

.horizontal-news-strip__list-item > img {
  display: inline-block;
  width: 65px;
  height: 65px;
  margin: 8px 0 0 8px;
  padding: 0 0 4px 0;
}

.horizontal-news-strip__list-item > a {
  display: inline-block;
  max-width: 176px;
  word-wrap: break-word;
  position: absolute;
  margin-top: 16px;
  margin-left: 6px;
  text-decoration: none;
  color: #333;
}

.horizontal-news-strip__list-item > a:hover {
  text-decoration: underline;
}

.horizontal-news-strip__list-item--left-border {
  padding-left: 3px;
  border-left: 1px solid #aaa
}